body
{
    padding: 0;
    margin: 0;
}
main {

}

header {

}
#main_head{
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;

}
#head {

}
h1{

}
h2, h3{
    width: 100vw;
    text-align: center;
    margin-bottom: 3ch;
}
h4, h5 {

}

#carousel {

}
.CarouCells {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
}

#left_img {
    width: 20vw;
    height: 45vh;
    margin-top: 4vh;
    transform: skew(-10deg, -3deg);
    box-shadow: -2px 2px 10px grey;
    position: relative;
    z-index: 7;
}
#main_img {
    box-shadow: 0px 0px 10px black;
    position: static;
    z-index: 8;
    border: 1px solid silver;


}
#right_img {
    width: 20vw;
    height: 45vh;
    margin-top: 4vh;
    transform: skew(10deg, 2deg);
    box-shadow: 2px 2px 10px grey;
    position: relative;
    z-index: 7;
}



.carousel-imgs {
    height: 50vh;
    width: 30vw;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 5px grey;
}

.button-box {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    margin-top: 5vh;
}

#button_box {

}

.carousel-btn {

}

#left_btn {
    height: 48px;
    width: 24%;

}

#play_btn {
    height: 48px;
    width: 24%;

}

#pause_btn {
    height: 48px;
    width: 24%;

}

#right_btn {
    height: 48px;
    width: 24%;

}

footer {

}
#footer {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
   
    border-top: 4px double purple;
    border-bottom: 4px double purple;

}

#Author_copyright {
    font-size: 1em;
    color: black;
}

/* MOBILE */
@media all and (max-width: 799px) and (min-width: 220px) {
    #main_img {
        width: 75vw;
    }
}